# Archivos de compilación de Flutter
build/
.dart_tool/
.packages
.pub-cache/
.pub/
android/app/debug/
android/app/profile/
android/app/release/

# Archivos de configuración sensibles (API Keys y Firebase)
# Se recomienda no subirlos si el repositorio es público
**/google-services.json
**/GoogleService-Info.plist
**/local.properties
**/key.properties
**/*.keystore
**/*.jks
.env
.env*
!.env.example

# Archivos de configuración de editores
.vscode/
.idea/
*.iml
*.iws
.project
.settings/
.classpath

# Archivos del sistema
.DS_Store
Thumbs.db

# Logs y temporales
*.log
*.temp
*.tmp
