# ==========================================
# 🔒 ARCHIVOS DE SEGURIDAD (URBICONNECT)
# ==========================================
# Configuración nativa de Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Archivo de FlutterFire con las API Keys expuestas
lib/firebase_options.dart

# Archivos de variables de entorno (donde debes guardar la clave de Google Maps)
.env
*.env

# Archivos de firma y certificados de Android
android/key.properties
android/*.jks
android/*.keystore

# ==========================================
# 📱 FLUTTER Y DART
# ==========================================
# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# ==========================================
# 💻 ENTORNOS DE DESARROLLO (IDE)
# ==========================================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Mac / Apple
.DS_Store

# ==========================================
# 🛠️ SISTEMA Y OTROS
# ==========================================
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/