# ==========================================
# 🔒 ARCHIVOS DE SEGURIDAD Y CREDENCIALES
# ==========================================
# Configuración nativa de Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Archivo de FlutterFire con las API Keys expuestas
lib/firebase_options.dart

# Archivos de variables de entorno (claves de Google Maps, etc.)
.env
*.env

# Certificados de firma y claves de Android / iOS
android/key.properties
android/*.jks
android/*.keystore
ios/*.p8
ios/*.p12

# ==========================================
# 📱 FLUTTER Y DART (BUILD & CACHE)
# ==========================================
**/bin/cache/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Símbolos y ofuscación
app.*.symbols
app.*.map.json

# ==========================================
# 💻 ENTORNOS DE DESARROLLO (IDE)
# ==========================================
# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/
*.code-workspace

# ==========================================
# 🍎 SISTEMA OPERATIVO Y OTROS
# ==========================================
# macOS
.DS_Store
.DS_Store?
._*

# Windows / Linux
Thumbs.db
ehthumbs.db
Desktop.ini
*~

# Archivos temporales o de compilación genéricos
*.class
*.log
*.pyc
*.swp
.atom/
.buildlog/
.history
.svn/